{%- do view.registerAssetBundle("wsydney76\\elementmap\\assets\\ElementMapBundle") -%}

<a class="btn" id="map-btn">{{ 'Relationships'|t('elementmap') }}</a>

{% set ajaxBaseUrl = cpUrl("elementmap/#{element.site.handle}/#{class}/") %}

{% js at POS_END %}
    ajaxBaseUrl = '{{ ajaxBaseUrl }}';
    elementId = {{ element.id }};
    draftId = 0;
{% endjs %}

{% js at POS_END %}
var $btn = $('#map-btn');

$btn.on('click', function() {
    $.get(ajaxBaseUrl + '/' + elementId + '?draftId=' + draftId)
        .done(function(data) {
            hud = new new Garnish.HUD($btn, data, {
                orientations: ['top', 'bottom', 'right', 'left'],
                hudClass: 'hud guide-hud',
            });;
        })
        .fail(function() {
            alert("error");
        });
});

if (window.draftEditor) {
    window.draftEditor.on('createDraft', function() {
        draftId = window.draftEditor.settings.draftId;
    });
}

{% endjs %}

{% css %}
    .map svg {
    width: 20px !important;
    height: 20px !important;
    padding-right: 6px;
    }

    .map label {
    font-weight: bold;
    }

    .map ul {
    padding-top: 12px;
    padding-bottom: 12px;
    }

    #map-btn {
    margin: 6px 0px;
    }

    .elementmap {
    display: none;
    }
{% endcss %}
