{%- do view.registerAssetBundle("wsydney76\\elementmap\\assets\\ElementMapBundle") -%}

<a class="btn" id="map-btn">{{ 'Relationships'|t('elementmap') }}</a>

{% set ajaxBaseUrl = cpUrl("elementmap-getrelations/#{element.site.handle}/#{class}/") %}

{% js at POS_END %}
    ajaxBaseUrl = '{{ ajaxBaseUrl }}';
    elementId = {{ element.id }};
    draftId = 0;
{% endjs %}

