{%- do view.registerAssetBundle("wsydney76\\elementmap\\assets\\ElementMapBundle") -%}

<a class="btn" id="map-btn">{{ 'Relationships'|t('elementmap') }}</a>

<div class="hud-wrapper hidden">
    <div id="map-content">
        {% include 'elementmap/_map_content' %}

        <div>
            <a href="javascript:window.location.reload()">{{ 'Reload page to refresh'|t('elementmap') }}</a>
        </div>


    </div>
</div>


{% js at POS_END %}
var $btn = $('#map-btn'),
    $form = $('#map-content');
$btn.on('click', function() {
    var hud = new Garnish.HUD($btn, $form, {
        orientations: ['top', 'bottom', 'right', 'left'],
        hudClass: 'hud guide-hud',
    });
    return false;
});
{% endjs %}

{% css %}
.map svg {
    width: 20px !important;
    height: 20px !important;
    padding-right: 6px;
}

.map label {
    font-weight: bold;
}

.map ul {
    padding-top: 12px;
    padding-bottom: 12px;
}

#map-btn {
    margin: 6px 0px;
}

.elementmap {
    display: none;
}
{% endcss %}
